<% @roles.each do |role| %>
  <%= link_to({ controller: 'organs', action: 'new', role_id: role.id }, class: 'button is-primary is-fullwidth mx-0', form: { class: 'is-fullwidth' }) do %>
    <%= svg_tag 'plus' %>
    <span class="ml-1"><%= role.tip %></span>
  <% end %>
<% end %>
