<%= link_to({ controller: '/me/home', auth_token: Current.session.id, **model.admin_url_options(request) }, class: 'media') do %>
  <%= yield %>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
