<%= button_to({ action: 'redirect', id: model.id }, class: 'media is-fullwidth', form: { class: 'is-fullwidth' }) do %>
  <%= yield %>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
