<% if @created_organs.present? %>
<div class="box is-padding-less">
  <div class="box-header">我创建的</div>
  <div id="tbody" class="box-body is-shadow-top">
    <%= render partial: 'member_item', collection: @created_organs, as: :model %>
  </div>
</div>
<% else %>
  <%= render partial: 'member_new', locals: { roles: @roles } %>
<% end %>

<% @accounts.each do |account, organs| %>
  <% if organs.present? %>
  <div class="box is-padding-less">
    <div class="box-header">
      <span>我加入的</span>
      <span class="text-grey size-7"><%= account.identity %></span>
    </div>
    <div class="box-body">
      <%= render partial: 'member_item', collection: organs, as: :model, locals: { account: account } %>
    </div>
  </div>
  <% end %>
<% end %>
