<p class="size-7 text-grey">我创建的</p>
<div id="tbody" class="cards is-4">
  <%= render partial: 'card', collection: @created_organs, as: :organ %>
  <%= render partial: 'button_card' %>
</div>

<% @members.group_by(&:identity).each do |identity, members| %>
  <div class="size-7 text-grey mt-3">
    <span>我加入的</span>
    <span><%= identity %></span>
  </div>
  <div class="cards is-4 mt-1">
    <%= render partial: 'card', collection: members, as: :member %>
  </div>
<% end %>
