<div class="buttons as-bottom">
  <%= button_to({ action: 'destroy' }, method: :delete, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-danger') do %>
    <%= svg_tag 'trash' %>
    <span><%= t('.destroy.title') %></span>
  <% end if current_member.admin? %>
</div>
