<div class="card">
  <div class="card-image">
    <figure class="image is-1by1">
      <%= image_tag model.product.logo if model.product.logo.attached? %>
    </figure>
  </div>
  <div class="card-content text-centered p-1">
    <p class="text-danger mb-1"><%= model.price.to_money.format.html_safe %></p>
    <p class="size-7 truncate"><%= model.title %></p>
  </div>
</div>
