<div id="tr_<%= model.id %>" class="media">
  <%= link_to({ controller: 'factory/productions', host: model.mp_host, **{ auth_token: Current.session&.once_token }.compact }, class: 'media-content') do %>
    <%= yield %>
  <% end %>
  <div class="media-right">
    <%= link_to({ controller: 'factory/productions', host: model.host, **{ auth_token: Current.session&.once_token }.compact }, class: 'button is-primary') do %>
      <span>去下单</span>
    <% end %>
  </div>
</div>
