<div class="box is-padding-less">
  <%= render 'profile_item' %>
  <%= render 'cart_column' %>
</div>

<div class="box is-padding-less">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <%= render 'org_item' %>
    </div>
  </div>
</div>

<div class="box is-padding-less">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <%# render 'trade_item' %>
    </div>
  </div>
</div>

<%= render 'powered_by' %>
