<div class="box is-padding-less">
  <div class="box-header">
    <div class="has-border-left-primary">
      <span class="size-7 text-grey">用户身份</span>
    </div>
  </div>
  <div class="fixed-grid has-3-cols p-3">
    <div class="grid">
      <%= link_to Rails.application.credentials.kf, rel: 'nofollow', class: 'cell has-column-centered' do %>
        <%= svg_tag 'headset', class: 'icon is-medium text-primary' %>
        <span class="size-7 text-grey mt-1">联系客服</span>
      <% end if Rails.application.credentials.kf.present? %>
    </div>
  </div>
</div>