<div class="box is-padding-less">
  <div class="box-header">用户身份</div>
  <div class="box-body">
    <% if current_organ %>
      <%= render partial: 'organ', locals: { organ: current_organ } %>
    <% end %>
  </div>
</div>