<div class="box is-padding-less">
  <div class="box-header">
    <div class="has-border-left-primary">
      <span class="size-7 text-grey">用户身份</span>
    </div>
  </div>
  <div class="fixed-grid has-3-cols p-3">
    <div class="grid">
      <% if request.variant.include?(:mini_program) %>
        <div
          data-controller="mini-program"
          data-mini-program-nav-value="true"
          data-mini-program-url-value="/pages/service/index"
          data-action="click->mini-program#link"
          class="cell has-column-centered"
        >
          <%= svg_tag 'headset', class: 'icon is-medium' %>
          <span class="mt-1">联系客服</span>
        </div>
      <% else %>
        <%= link_to current_organ.service_url, rel: 'nofollow', class: 'cell has-column-centered' do %>
          <%= svg_tag 'headset', class: 'icon is-medium' %>
          <span class="mt-1">联系客服</span>
        <% end if current_organ.service_url.present? %>
      <% end %>
    </div>
  </div>
</div>