<%= button_to({ controller: '/auth/sessions', action: 'destroy' }, method: :delete, class: 'media is-fullwidth mb-0', form: { class: 'is-fullwidth p-3' }) do %>
  <div class="media-content">
    <%= svg_tag 'right-from-bracket' %>
    <span class="ml-1 text-grey">切换门店</span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
