<%= button_to({ controller: 'org/board/members', action: 'logout' }, class: 'media is-fullwidth mb-0', form: { class: 'is-fullwidth p-3' }) do %>
  <div class="media-content">
    <%= svg_tag 'right-from-bracket' %>
    <span class="ml-1 text-grey"><%= t('org.board.members.logout.title') %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
