<div class="box is-padding-less mx-3 mt-3">
  <div class="box-header">
    <div class="has-border-left-primary size-7">选择账号登录</div>
  </div>
  <div class="box-body is-shadow-top">
  <% members.each do |member| %>

  <% end %>
  </div>
</div>
