<% members.group_by(&:identity).each do |identity, sub_members| %>
  <div class="mt-3">
    <div class="size-7 has-border-left-primary">
      <span>我的团队</span>
      <span class="text-grey"><%= identity %></span>
    </div>
    <div id="tbody" class="box is-padding-less">
      <%= render partial: 'member_item', collection: sub_members, as: :model %>
    </div>
  </div>
<% end %>
