<%= link_to({ action: 'redirect', id: model.id }, class: 'media as-link') do %>
  <div class="media-content"><%= model.name %></div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>