<div class="box mx-3 mt-3">
  <p class="p-3">选择账号登录</p>
  <div class="box p-3">
  <% members.each do |member| %>
    <%= link_to({ controller: 'org/board/members', action: 'login', id: member.id }, class: 'media as-link') do %>
      <div class="media-content"><%= member.organ.name %></div>
      <div class="media-right">
        <%= svg_tag 'chevron-right' %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
