<%= render layout: 'layouts/phone_head' do %>
  <div class="as-bar">
    <%= link_to '/', class: 'px-4' do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
    <div class="bar-title"></div>
    <i class="px-5"></i>
  </div>
  <main id="weui-tab__panel">
    <div class="flex-grow-1"></div>
    <%= yield %>
  </main>
<% end %>
